* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("./images/womanperiod.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

#root {
    height: 100vh;
    width: 100vw;
}

#profile {
    height: 100vh;
    width: 100vw;
    border: 6px solid yellow;
}

#addPost-form {
    font-size: 30px;
    height: 100vh;
}

#welcome-message {
    display: flex;
    justify-content: center;
    font-size: 40px;
    align-self: center;
    margin-top: 20%;
    color: rgb(58, 18, 18);
}

.firebaseui-card-content {
    margin-top: 50%;
}

#user-greeting {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
    color: whitesmoke;
}
/*ALL POSTS HOME*/
#allPosts-div{
    display: flex;
    flex-direction: column;
    border: 6px solid yellow;
    margin: 5%;
    font-weight: bold;
}
#allPosts-div li{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    border: 2px solid white;
}



/* NAV BAR + BURGER */

#navBarEl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(236, 117, 137);
    font-family: 'Poppins', sans-serif;
}

#logoNavBar {
    color: honeydew;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

#navBarUl {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

#navBarUl li {
    list-style: none;
}

#navBarUl a {
    color: honeydew;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

#burger {
    display: none;
    cursor: pointer;
}

#burger div {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width:1024px) {
    #navBarUl {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    #navBarUl {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(236, 117, 137);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    #burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%) !important;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}


/* Form new Post*/

#form-container {
    display: grid;
    justify-items: center;
    height: 80vh;
    width: 100vw;
    margin-top: 100px;
    /* border: 2px solid red; */
}

#new-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40%;
}

#tittle-input {
    font-size: 14px;
    width: 100%;
    height: 15%;
    border: 2px solid grey;
}

#text-input {
    font-size: 14px;
    width: 100%;
    height: 73%;
    border: 2px solid grey;
}

#button-submit {
    width: 180px;
    height: 11%;
    margin-top: 0.5%;
    background-color: rgb(241, 241, 47);
}