* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    /* background-image: url("./images/cami.png");  */
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

#root {
    height: 100vh;
    width: 100vw;
}


.firebaseui-card-content {
    margin-top: 60%;
}


/*HOME*/

#home{
  display:grid;
  grid-template-rows:10% 10% 70% 10%;
  width: 100vw;
  height: 100vh;
  border: 4px solid blue;
}

#user-greeting {
  grid-row-start: 2;
  grid-row-end: 2;
  justify-self: center;
  align-self: center;
  color: black;
  border: 6px solid green;
}

#allPosts-div{
  grid-row-start: 3;
  grid-row-end: 3;
  justify-self: center;
  height: 70vh;
  width: 60vw;
  margin: 5%;
  font-weight: bold;
  font-size: 16px;
  border: 6px solid yellow;
}
#allPosts-li{
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 50vw;
  margin: 5%;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #E57080;
  border-radius: 5px;
}

#footer-div{
  border: 2px solid black;
  font-size: 20px;
  color:black;
  font-weight: strong;
}

#like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  height: 20px;
  width: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  border-color: whitesmoke;
}

/* NAV BAR + BURGER */

#navBarEl {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(236, 117, 137);
    font-family: 'Poppins', sans-serif;
}

#logoNavBar {
    color: honeydew;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

#navBarUl {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

#navBarUl li {
    list-style: none;
}

#navBarUl a {
    color: honeydew;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

#burger {
    display: none;
    cursor: pointer;
}

#burger div {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width:1024px) {
    #navBarUl {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    #navBarUl {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(236, 117, 137);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    #burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%) !important;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}


/* PROFILE VIEW*/

#pro{
  display:grid;
  grid-template-rows:10% 10% 70% ;
  width: 100vw;
  height:100vh;
  border: 6px solid black;
}

#profile{
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex; 
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content:center;
  align-items: center;
  width: 30vw;
  height:10vh;
  border: 6px solid rgb(0, 255, 34);
}

#welcome-message {
  display: flex;
  justify-content: center;
  font-size: 40px;
  align-self: center;
  margin-top: 20%;
  color: rgb(58, 18, 18);
}

#profilePosts-div{
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
  width: 60%;
  height: 100%;
  border: 2px solid black;
}

#post-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
  height: 20%;
  border: 2px solid grey;
}

#post-container li {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  list-style: none;
}


#edition-menu{
  display: flex;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: end;
  justify-self: end;
  /* border: 2px solid black; */
  width: 50%;
  height: 50%;
}


#edit-li{
  border: 2px solid black;
  width: 50%;
  height: 100%;
}

#delete-li{
  border: 2px solid black;
  width: 50%;
  height: 100%;
}



/* Form new Post*/

#form-container {
    display: grid;
    justify-items: center;
    height: 80vh;
    width: 100vw;
    margin-top: 100px;
    /* border: 2px solid red; */
}

#new-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40%;
}

#tittle-input {
    font-size: 14px;
    width: 100%;
    height: 15%;
    border: 2px solid grey;
}

#text-input {
    font-size: 14px;
    width: 100%;
    height: 73%;
    border: 2px solid grey;
}

#button-submit {
    width: 180px;
    height: 11%;
    margin-top: 0.5%;
    background-color: rgb(241, 241, 47);
}


/* ADD POST VIEW*/
#addPost-form {
  font-size: 30px;
  height: 100vh;
  border: 4px solid pink;
}



/*MODAL EXPERIMENT*/
/*MODAL EXPERIMENT*/

#modal-edit-content {
  display: grid;
  grid-template-rows: 6% 10% 10% 10% 60% 4%;
  grid-template-columns: 10% 80% 10%;
  /* display: block; */
  text-align:center;
  position: fixed;
  top: 25vh;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  /* overflow: auto; */
  justify-content: center;
  align-items: center;
  outline: 2px solid red;
}

#p-edit-title{
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end:3;
  width: 100%; 
  border: 2px solid red;
  color: white;
}

 #title-edit {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end:3;
  width: 100%; 
  background-color: #fff;
  height: 100%;
  /* margin: 0.5rem;
  padding: 2rem; */
  border-radius: 0.25rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  /* overflow: auto; */
  border: 2px solid blue;
} 

#p-edit-content{
  width: 100%; 
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 4;
  grid-row-end: 4;
  color: white;
  border: 2px solid red;
}


#edit-content {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end:3;
  width: 100%; 
  background-color: #fff;
  height: 90%;
  /* margin: 0.5rem; */
  /* padding: 2rem; */
  border-radius: 0.25rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  /* overflow: auto; */
  border: 4px solid greenyellow;
}

/* 
#modal-content h1 {
  text-align: center;
  margin-bottom: 2rem;
}   

 #modal-edit-content p {
  margin: 0;
  line-height: 1.5rem;
}   */

#span-close-modal {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end:4;
  width: 80%;
  height: 100%;
  /* position: relative; */
  /* top: 0; */
  /* right: -45%; */
  font-size: 2rem;
  font-weight: bold;
  /* padding: 0 1rem; */
  color: white;
  cursor: pointer;
  user-select: none;
  border: 2px solid yellow;
}

#button-submit-edittion{
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end:2;
  background-color: yellow;
  width: 30%;
}

#span-close-modal:hover,
#span-close-modal:focus {
  color: rgba(0, 0, 0, 0.5);
}
/*
@media(max-width:992) {
  html {
      font-size: 14;
  }
  #modal-edit-content{
      width: 80%;
  }
}

@media(max-width:767) {
  html {
      font-size: 12;
  }
  #modal-edit-content {
      padding: 2rem 1rem 1rem 1rem;
  }
  #modal-edit-content p {
      margin-bottom: 1.5rem;
  }
} */
